body {
  background: #1d2731;
  color: #fefefe;
}

h1 {
  color: #ff625f;
}

#header img {
  max-width:75%;
  height:auto;
  border-radius: 100%;
  border: 1px solid #fefefe;
}

a {
  color: white;
  text-decoration: underline;
}

.photography-row-1 img {
  max-width: 100%;
  height: auto;
  border: 1px solid white;
}

.first-half {
  background: #1d2731;
  margin-top: 15px;
  padding: 5px;
}


/* * {
  border: 1px solid white;
} */