body {
  background: #1d2731;
  color: #fefefe;
}

h1 {
  color: #ff625f;
}

#header {
  margin-top: 5px;
}

#header img {
  max-width:75%;
  height:auto;
  border-radius: 100%;
  border: 1px solid #fefefe;
}

a {
  color: white;
}

.photography-row-1 img {
  max-width: 100%;
  height: auto;
  border: 1px solid white;
}

.github1 img, .github2 img, .github3 img, .github4 img {
  max-width: 100%;
  height: auto;
  border: 1px solid white;
}